version: 1.0.{build}
branches:
  only:
  - wid-ep6
image: Visual Studio 2017
before_build:
- ps: nuget restore
build:
  publish_wap_octopus: true
  verbosity: minimal
deploy:
- provider: Octopus
  push_packages: true
  create_release: true
  deploy_release: true
  server: https://willitdeployepisode6.tentaclearmy.com:8085/
  api_key:
    secure: O+WRMqY79U0X6sJGYk1qNTUq37Tv8RVMFXOXKVkQqy8=
  project: RandomQuotes
  environment: Dev